<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>CosmosAdmin</display-name>

	<!-- 
	* 
	* servlets
	*
	-->

	<servlet>
		<servlet-name>LogOn</servlet-name>
		<servlet-class>org.nachc.cosmos.web.action.logon.LogonAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOn</servlet-name>
		<url-pattern>/LogOn</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogOff</servlet-name>
		<servlet-class>org.nachc.cosmos.web.action.logoff.LogOffServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOff</servlet-name>
		<url-pattern>/LogOff</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProjectOverview</servlet-name>
		<servlet-class>org.nachc.cosmos.web.action.logon.ProjectOverviewAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectOverview</servlet-name>
		<url-pattern>/ProjectOverview</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>org.nachc.cosmos.web.action.logon.UploadAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/Upload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteLotHome</servlet-name>
		<servlet-class>org.nachc.cosmos.web.action.logon.tools.deletelot.DeleteLotHomeAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteLotHome</servlet-name>
		<url-pattern>/DeleteLotHome</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetDataLotsForOrgProject</servlet-name>
		<servlet-class>org.nachc.cosmos.web.action.logon.queries.lot.GetDataLotsForOrgProjectAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetDataLotsForOrgProject</servlet-name>
		<url-pattern>/GetDataLotsForOrgProject</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetRawTableFileRecords</servlet-name>
		<servlet-class>org.nachc.cosmos.web.action.logon.queries.rawtablefile.GetRawTableFileRecordsAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRawTableFileRecords</servlet-name>
		<url-pattern>/GetRawTableFileRecords</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteLot</servlet-name>
		<servlet-class>org.nachc.cosmos.web.action.logon.tools.deletelot.DeleteLotAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteLot</servlet-name>
		<url-pattern>/DeleteLot</url-pattern>
	</servlet-mapping>

	<!-- 
	*
	* shiro stuff
	*
	-->

    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

	<!-- 
	* 
	* welcome file list
	*
	-->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>


